@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
#header {
  width: 100%;
  background: #131c55;
}
#header .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
#header .inner > h1 {
  position: absolute;
  left: 0;
  bottom: 10px;
}
#header .inner > h1 a {
  font: bold 30px/1 "Oswald";
  letter-spacing: 4px;
  color: #fff;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0px;
}
#header .inner .menuWeb #gnb .depth1 {
  float: left;
}
#header .inner .menuWeb #gnb .depth1 a {
  width: 170px;
  display: block;
  padding: 14px 40px;
  font: bold 14px/1 "arial";
  color: #fff;
  text-align: center;
}
#header .inner .menuWeb #gnb .depth1:hover {
  background: #fff;
}
#header .inner .menuWeb #gnb .depth1:hover a {
  color: #131c55;
}
#header .inner .menuWeb #gnb .depth1 ul {
  background: #fff;
  height: auto;
  position: absolute;
  display: none;
  z-index: 5;
}
#header .inner .menuWeb #gnb .depth1 ul a {
  height: 40px;
  position: relative;
  font: normal 10px/1.2 "arial";
  color: #131c55;
}
#header .inner .menuWeb #gnb .depth1 ul a:hover {
  background: orangered;
  opacity: 0.7;
}
#header .inner .menuWeb #gnb .depth1 ul::before {
  content: " ";
  display: block;
  width: 170px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
#header .inner .menuWeb #gnb .depth1:hover ul {
  display: block;
}
#header .inner .menuWeb .util {
  position: absolute;
  top: 20px;
  right: 40px;
}
#header .inner .menuWeb .util li {
  float: left;
  margin-left: 20px;
}
#header .inner .menuWeb .util li a {
  font: 10px "arial";
  color: #fff;
}
#header .inner .btnCall {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -9999px;
  transition: all 1s;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #333;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: -270px;
  display: none;
}
#header .inner .menuMo.on {
  left: 0px;
}
#header .inner .menuMo h1 {
  border-bottom: 1px solid #666;
  padding-bottom: 30px;
}
#header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
  border-bottom: 1px solid #444;
}

#visual {
  width: 100%;
  height: 800px;
  overflow: hidden;
  background: #131c55;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}
#visual .inner .wrap {
  width: 100%;
}
#visual .inner .wrap .main_article {
  width: 780px;
  height: 100%;
  float: left;
  margin-right: 20px;
}
#visual .inner .wrap .main_article h1 {
  font: bold 270px/1 "arial";
  color: #fff;
}
#visual .inner .wrap .main_article a {
  display: block;
  width: 200px;
  height: 30px;
  font: bold 11px/30px "arial";
  color: #fff;
  text-align: center;
  border: 1px solid #bbb;
  margin-left: 50px;
}
#visual .inner .wrap .main_article a:hover {
  background: #fff;
  color: #131c55;
}
#visual .inner .wrap .main_article img {
  position: relative;
  width: 90%;
  transform: translate(10px, -50px) rotate(-13deg);
  filter: drop-shadow(30px 30px 10px #000);
  z-index: 0;
}
#visual .inner .wrap .swiper {
  width: 380px;
  height: 600px;
  position: relative;
}
#visual .inner .wrap .swiper .sub_article1 {
  width: 100%;
  float: left;
}
#visual .inner .wrap .swiper .sub_article1 h2 {
  width: 90%;
  font: bold 15px/1.2 "arial";
}
#visual .inner .wrap .swiper .sub_article1 h2 a {
  position: relative;
  left: 10px;
  color: #fff;
}
#visual .inner .wrap .swiper .sub_article1 img {
  width: 90%;
  margin-top: 15px;
  object-fit: contain;
}
#visual .inner .wrap .swiper .sub_article1 p {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 40px;
  font: normal 10px/1.2 "arial";
  color: #cac9c9;
}
#visual .inner .wrap .swiper .sub_article1::after {
  content: " ";
  display: block;
  width: 4px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}
#visual .inner .wrap .swiper .sub_article2 {
  width: 380px;
  height: 50%;
  float: left;
}
#visual .inner .wrap .swiper .sub_article2 h2 {
  width: 90%;
  font: bold 15px/1.2 "arial";
}
#visual .inner .wrap .swiper .sub_article2 h2 a {
  position: relative;
  color: #fff;
  left: 10px;
}
#visual .inner .wrap .swiper .sub_article2 p {
  width: 90%;
  margin-top: 15px;
  font: normal 10px/1.2 "arial";
  color: #cac9c9;
  margin-bottom: 100px;
}
#visual .inner .wrap .swiper .sub_article2::after {
  content: " ";
  display: block;
  width: 4px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 354px;
  left: 0px;
}

/*brand -----------------------------------------*/
#brand {
  width: 100%;
  background: #eee;
}
#brand .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#brand .inner .wrap {
  width: 100%;
}
#brand .inner .wrap article {
  width: 393.3333333333px;
  height: 450px;
  transform: translateY(-100px);
  transition: 0.5s;
}
#brand .inner .wrap article:nth-of-type(1) {
  background: #fff;
  float: left;
  padding: 40px 40px 0px;
}
#brand .inner .wrap article:nth-of-type(1) h2 {
  font: bold 30px/1 "arial";
  color: #131c55;
  margin-bottom: 40px;
}
#brand .inner .wrap article:nth-of-type(1) span {
  font: bold 18px/1 "arial";
  color: #131c55;
}
#brand .inner .wrap article:nth-of-type(1) p {
  float: left;
  position: absolute;
  margin-top: 40px;
  width: 150px;
  font: 13px/1.5 "arial";
  color: #555;
  z-index: 3;
}
#brand .inner .wrap article:nth-of-type(1) img {
  float: right;
  width: 220px;
  transform: translate(40px, 30px);
}
#brand .inner .wrap article:nth-of-type(1):hover {
  transform: translateY(-150px);
}
#brand .inner .wrap article:nth-of-type(2) {
  background: #131c55;
  float: left;
  padding: 40px 40px 0px;
  text-align: center;
}
#brand .inner .wrap article:nth-of-type(2) h2 {
  text-align: left;
  font: bold 30px/1 "arial";
  color: #fff;
}
#brand .inner .wrap article:nth-of-type(2) img {
  width: 250px;
}
#brand .inner .wrap article:nth-of-type(2) p {
  font: 13px/1.5 "arial";
  color: rgba(255, 255, 255, 0.7);
}
#brand .inner .wrap article:nth-of-type(2):hover {
  transform: translateY(-50px);
}
#brand .inner .wrap article:nth-of-type(3) {
  background: #82B8D9;
  float: left;
  padding: 40px 40px 0px;
}
#brand .inner .wrap article:nth-of-type(3) h2 {
  font: bold 30px/1 "arial";
  color: #fff;
  margin-bottom: 10px;
}
#brand .inner .wrap article:nth-of-type(3) p {
  font: 13px/1.5 "arial";
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 40px;
}
#brand .inner .wrap article:nth-of-type(3) strong {
  float: left;
  font: bold 110px/1 "arial";
  color: #fff;
  margin-right: 30px;
  margin-bottom: 50px;
}
#brand .inner .wrap article:nth-of-type(3) span {
  float: left;
  font: bold 16px/1.6 "arial";
  letter-spacing: 2px;
  color: #fff;
}
#brand .inner .wrap article:nth-of-type(3) a {
  float: left;
  display: block;
  width: 150px;
  text-align: center;
  font: 18px/1 "arial";
  color: rgba(255, 255, 255, 0.7);
}
#brand .inner .wrap article:nth-of-type(3):hover {
  transform: translateY(-150px);
}

/*event -----------------------------------------*/
#event {
  width: 100%;
  background: #eee;
}
#event .inner {
  width: 1180px;
  margin: 0 auto;
  height: 700px;
}
#event .inner .wrap {
  width: 100%;
  top: 0;
  left: 0;
}
#event .inner .wrap article {
  width: 580px;
  overflow: hidden;
}
#event .inner .wrap article:nth-of-type(1) {
  height: 100%;
  float: left;
  margin-top: 100px;
  margin-right: 20px;
}
#event .inner .wrap article:nth-of-type(1) h2 {
  position: relative;
  font: bold 50px/1 "arial";
  letter-spacing: 2px;
  color: #131c55;
  margin-bottom: 50px;
}
#event .inner .wrap article:nth-of-type(1) h3 {
  position: relative;
  font: normal 30px/1 "arial";
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
#event .inner .wrap article:nth-of-type(1) ul li a {
  position: relative;
  display: block;
  height: 25px;
  font: bold 15px/1 "Oswald";
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
}
#event .inner .wrap article:nth-of-type(2) {
  float: left;
  position: relative;
}
#event .inner .wrap article:nth-of-type(2) .tri {
  filter: brightness(85%);
}
#event .inner .wrap article:nth-of-type(2) .airplane {
  width: 98%;
  top: 200px;
  left: 8px;
  position: absolute;
  filter: drop-shadow(3px 3px 3px #000);
  transition: 20s;
}
#event .inner .wrap article:nth-of-type(2) .airplane:hover {
  transform: translateY(-9999px);
}

/*news -----------------------------------------------*/
#news {
  width: 100%;
  top: 0;
  left: 0;
  background: #eee;
}
#news .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  padding: 0px 0px 50px;
}
#news .inner h1 {
  font: bold 30px/1 "arial";
  color: #131c55;
  margin-bottom: 40px;
}
#news .inner h1::after {
  content: " ";
  display: block;
  width: 960px;
  height: 2px;
  background: #131c55;
  position: absolute;
  top: 23px;
  left: 220px;
}
#news .inner .wrap article {
  float: left;
}
#news .inner .wrap article h2 {
  font: bold 30px/1.4 "arial";
  cursor: pointer;
}
#news .inner .wrap article h3 {
  font: bold 20px/1.4 "arial";
  cursor: pointer;
}
#news .inner .wrap article .pic img {
  width: 95%;
  cursor: pointer;
}
#news .inner .wrap article .pic img:hover {
  transform: scale(1.01);
}
#news .inner .wrap article .pic a {
  display: block;
  width: 150px;
  height: 40px;
  background: #131c55;
  font: 15px/40px "arial";
  text-align: center;
  color: #fff;
  transform: translate(20px, -35px);
}
#news .inner .wrap article .pic a:hover {
  background: #fff;
  color: #131c55;
  border: 1px solid #131c55;
}
#news .inner .wrap article:nth-of-type(1) {
  width: 780px;
  height: 700px;
  margin-right: 20px;
}
#news .inner .wrap article:nth-of-type(1) p {
  font: 14px/1.5 "arial";
  color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  padding-right: 40px;
}
#news .inner .wrap article:nth-of-type(2) {
  width: 380px;
  height: 340px;
}
#news .inner .wrap article:nth-of-type(2) img {
  width: 100%;
}
#news .inner .wrap article:nth-of-type(3) {
  width: 380px;
  height: 340px;
}
#news .inner .wrap article:nth-of-type(3) img {
  margin-top: 30px;
  width: 100%;
}

/* banner ---------------------------------------------- */
#banner {
  width: 100%;
  height: 950px;
  padding: 50px 50px 50px 50px;
}
#banner > .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#banner > .inner > .wrap {
  width: 100%;
  height: 100%;
}
#banner > .inner > .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#banner > .inner > .wrap article:nth-of-type(1) {
  width: 100%;
  height: 50px;
}
#banner > .inner > .wrap article:nth-of-type(1) h1 {
  float: left;
  font: bold 40px/1 "arial";
  color: #131c55;
}
#banner > .inner > .wrap article:nth-of-type(1) select {
  float: right;
  width: 220px;
  height: 30px;
  font: bold 12px/1 "arial";
  color: #131c55;
  padding: 5px;
  margin-top: 10px;
}
#banner > .inner > .wrap article:nth-of-type(2) {
  width: 100%;
  height: 500px;
}
#banner > .inner > .wrap article:nth-of-type(2) span {
  position: absolute;
  font: normal 350px/0.9 "Otomanopee One";
  letter-spacing: 30px;
  color: #131c55;
  z-index: 0;
}
#banner > .inner > .wrap article:nth-of-type(2) .satellite {
  width: 500px;
  position: absolute;
  transform: translateY(190px);
  z-index: 1;
}
#banner > .inner > .wrap article:nth-of-type(3) {
  width: 380px;
  float: right;
  transform: translate(0px, -150px);
}
#banner > .inner > .wrap article:nth-of-type(3) h2 {
  font: bold 60px/60px "arial";
  color: #131c55;
}
#banner > .inner > .wrap article:nth-of-type(3) p {
  margin-top: 20px;
  font: 13px/1.6 "arial";
  color: #666;
}
#banner > .inner > .wrap article:nth-of-type(3) .btnView {
  display: block;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  border: 1px solid #131c55;
  font: bold 13px/2.2 "arial";
  text-align: center;
  color: #131c55;
}
#banner > .inner > .wrap article:nth-of-type(3) .btnView:hover {
  background: #131c55;
  color: #fff;
}
#banner > .inner > .wrap article:nth-of-type(3) .btnArrow {
  float: left;
  margin-right: 10px;
  padding: 5px;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #131c55;
  font: bold 20px/1.3 "arial";
  text-align: center;
  color: #131c55;
  transform: translate(270px, 10px);
}
#banner > .inner > .wrap article:nth-of-type(3) .btnArrow:hover {
  background: #131c55;
  color: #fff;
}
#banner > .inner > .wrap article:nth-of-type(4) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-120px);
}
#banner > .inner > .wrap article:nth-of-type(4) .vid {
  width: 280px;
  position: relative;
}
#banner > .inner > .wrap article:nth-of-type(4) .vid video {
  width: 100%;
  cursor: pointer;
}

/*footer -------------------------------------------*/
#footer {
  width: 100%;
  padding: 100px 0;
  background: #eee;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "Oswald";
  color: #131c55;
  float: left;
  letter-spacing: 2px;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: normal 12px/1 "Oswald";
  color: #131c55;
  opacity: 0.9;
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 12px/1.3 "Oswald";
  color: #131c55;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #131c55;
  opacity: 0.9;
}
#footer .inner p {
  font: 10px/1 "Oswald";
  color: #131c55;
  width: 100%;
  float: left;
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

.wrap::after {
  content: " ";
  display: block;
  clear: both;
}

/* 앞으로 wrap는 플롯 해제할때만 사용하기! */
fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#header_sub .inner {
  position: relative;
  width: 1180px;
  height: 120px;
  margin: 0 auto;
}
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
}
#header_sub .inner > h1 a {
  font: bold 24px/1 "arial";
  color: #444;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 20px 40px;
  font: bold 14px/1 "arial";
  color: #777;
}
#header_sub .inner .menuWeb #gnb li a:hover {
  background: #777;
  color: #fff;
}
#header_sub .inner .menuWeb .util {
  position: absolute;
  top: 20px;
  right: 40px;
}
#header_sub .inner .menuWeb .util li {
  float: left;
  margin-left: 20px;
}
#header_sub .inner .menuWeb .util li a {
  font: 12px/1 "arial";
  color: #999;
}
#header_sub .inner .menuWeb .util li a:hover {
  color: #000;
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9999px;
  background: #000;
  transition: all 1s;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: 1px;
  transform: rotate(45deg);
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #333;
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px;
  z-index: 10;
  transition: all 0.5s;
  display: none;
}
#header_sub .inner .menuMo.on {
  left: 0;
}
#header_sub .inner .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
}
#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

.content {
  width: 100%;
  padding: 0 0 150px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
.content .inner h1 {
  font: normal 50px/1 "arial";
  color: #000;
  margin-bottom: 60px;
}
.content .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.content .inner h1 span::before {
  content: "/";
  margin-right: 20px;
  margin-left: 10px;
}

#footer_sub {
  width: 100%;
  padding: 100px 0;
  background: #444;
}
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer_sub .inner::after {
  content: " ";
  display: block;
  clear: both;
}
#footer_sub .inner h1 {
  font: bold 24px/1 "arial";
  color: #666;
  float: left;
}
#footer_sub .inner ul {
  float: right;
}
#footer_sub .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer_sub .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer_sub .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #888;
}
#footer_sub .inner p {
  font: 12px/1 "arial";
  color: #777;
  width: 100%;
  float: left;
}

/* tablet 구간 ----------------------------------------------------------- */
@media screen and (max-width: 1179px) {
  /* header_sub---------------------------------------------------------- */
  #header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }
  #header_sub .inner .menuMo {
    display: block;
  }

  /* content  --------------------------------------------------------------- */
  .content {
    padding: 0 0 100px;
  }
  .content .sub_visual {
    height: 200px;
    margin-bottom: 80px;
  }
  .content .inner {
    width: 100%;
    min-height: 400px;
    padding: 0 30px;
  }

  /* footer_sub --------------------------------------------------------------- */
  #footer_sub {
    padding: 80px 30px;
  }
  #footer_sub .inner {
    width: 100%;
  }
}
/* moblie 구간 ----------------------------------------------------------- */
@media screen and (max-width: 539px) {
  /* content  --------------------------------------------------------------- */
  .content {
    padding: 0 0 80px;
  }
  .content .sub_visual {
    height: 150px;
  }
  .content .inner {
    min-height: 300px;
  }
  .content .inner h1 {
    font-size: 20px;
  }
  .content .inner h1 span {
    display: block;
    margin-top: 10px;
  }

  /* footer_sub --------------------------------------------------------------- */
  #footer_sub .inner ul {
    width: 100%;
  }
  #footer_sub .inner ul li {
    margin-left: 0;
    margin: 5px;
  }
}
#header .inner {
  border: none;
}

.about .sub {
  width: 100%;
  height: 300px;
  background-color: #000;
  position: relative;
}
.about .sub .sub_visual {
  height: 300px;
  background: url(../img/ttt.jpeg) no-repeat center/cover;
  opacity: 0.5;
}
.about .sub .sub_inner .sub_h2 {
  top: -250px;
  left: 10%;
  position: relative;
  font: bold 80px/1 "arial";
  color: #fff;
  opacity: 1;
}
.about .division {
  width: 100%;
  height: 800px;
}
.about .division .profile .wrap article {
  position: relative;
  margin: 30px 20px 20px 0;
  width: 280px;
  float: left;
}
.about .division .profile .wrap article:nth-of-type(4n) {
  margin-right: 0;
}
.about .division .profile .wrap article img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.about .division .profile .wrap article .txtBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
  margin-top: 50%;
}
.about .division .profile .wrap article .txtBox h2 {
  width: 100%;
  font: bold 30px/1 "arial";
  margin-bottom: 20px;
  color: #131c55;
  text-transform: uppercase;
}
.about .division .profile .wrap article .txtBox p {
  font: normal 15px/1.2 "arial";
  color: #131c55;
  opacity: 0.8;
  margin: 0 0 30px 0;
}
.about .division .profile .wrap article .txtBox .icons {
  text-align: center;
  transform: translateX(15px);
}
.about .division .profile .wrap article .txtBox .icons a i {
  font-size: 30px;
  color: #131c55;
  letter-spacing: 30px;
}
.about .division .profile .wrap article:hover img {
  opacity: 0.3;
}
.about .division .profile .wrap article:hover .txtBox {
  opacity: 1;
}
.about .division .profile .wrap * {
  box-sizing: border-box;
  transition: all 0.4s ease-in;
}
.about .division .div_tree {
  position: absolute;
  top: -9999px;
  opacity: 0;
}
.about .division .div_tree li span {
  display: block;
  width: 40%;
  height: 50px;
  background: #111;
  font: bold 13px/50px "arial";
  color: #fff;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 20px;
  position: relative;
}
.about .division .div_tree li span::after {
  content: " ";
  display: block;
  width: 1px;
  height: 1165px;
  background: #aaa;
  position: absolute;
  top: 50px;
  left: 50px;
}
.about .division .div_tree li ul li span {
  background: #666;
  transform: translateX(70px);
}
.about .division .div_tree li ul li span::before {
  content: " ";
  display: block;
  width: 20px;
  height: 1px;
  background: #aaa;
  position: absolute;
  top: 50%;
  left: -20px;
}
.about .division .div_tree li ul li:nth-of-type(1) span::after {
  display: none;
}
.about .division .div_tree li ul li:nth-of-type(2) span::after {
  display: none;
}
.about .division .div_tree li ul li:nth-of-type(3) span::after {
  height: 115px;
}
.about .division .div_tree li ul li:nth-of-type(4) span::after {
  height: 185px;
}
.about .division .div_tree li ul li:nth-of-type(5) span::after {
  height: 115px;
}
.about .division .div_tree li ul li:nth-of-type(6) span::after {
  height: 185px;
}
.about .division .div_tree li ul li:nth-of-type(7) span::after {
  height: 115px;
}
.about .division .div_tree li ul li ul li span {
  background: #999;
  transform: translateX(140px);
}
.about .division .div_tree li ul li ul li span::after {
  display: none;
}

/* tablet ------------------------- */
@media screen and (max-width: 1179px) {
  .about .division {
    height: 60vw;
  }
}
/* mobile ------------------------- */
@media screen and (max-width: 539px) {
  .about .division {
    background: none;
    height: auto;
  }
  .about .division .div_tree {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
.community .sub_visual {
  background: url(../img/brand3.jpg) no-repeat center/cover;
}
.community .inner table {
  width: 100%;
  border-bottom: 2px solid #111;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.community .inner table tr:nth-of-type(even) {
  background: #eee;
}
.community .inner table tr:hover {
  background: #e49e9e;
}
.community .inner table tr th {
  padding: 15px;
  background: #444;
  color: #fff;
}
.community .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.community .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.community .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.community .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.community .inner table tr td:nth-of-type(3) {
  font-family: "맑은 고딕";
}
.community .inner table tr td a {
  color: #333;
  font-family: "arial";
  line-height: 1.4;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
}
.community .inner .pagination::after {
  content: " ";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  background: #555;
  padding: 4px;
}
.community .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #eee;
  text-align: center;
  background: #555;
  padding: 4px;
}
.community .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.community .inner .pagination .numbers a {
  border: 1px solid #888;
  display: inline-block;
  width: 30px;
  height: 30px;
  font: 11px/30px "arial";
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.community .inner .pagination .numbers a:hover {
  background: #666;
  color: #fff;
}

/* tablet ---------------------------------------------------- */
@media screen and (max-width: 1179px) {
  .community .inner table tr th:nth-of-type(1) {
    width: 15%;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 20%;
  }
  .community .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner table tr td:nth-of-type(4) {
    display: none;
  }
  .community .inner .pagination .numbers a {
    /* 
                      방법1
                      &:nth-of-type(n+6) {
                          display: none;
                      }
                      */
    /*
                      */
  }
  .community .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
}
/* mobile ----------------------------------------------------- */
@media screen and (max-width: 539px) {
  .community .inner table tr th {
    font-size: 14px;
  }
  .community .inner table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 30%;
  }
  .community .inner table tr td:nth-of-type(1) {
    display: none;
  }
  .community .inner .pagination .numbers {
    display: none;
  }
}
#gallery #searchBox {
  width: 100%;
  padding: 0px 60px 0px;
  font-size: 0;
}
#gallery #searchBox input[type=text] {
  width: 300px;
  height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  padding-left: 10px;
}
#gallery #searchBox .btnSearch {
  width: 80px;
  height: 30px;
  background: #333;
  color: #fff;
  font: bold 12px/30px "arial";
  text-align: center;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: top;
}
#gallery #wrap {
  width: 100%;
  padding: 50px;
}
#gallery #wrap .loading {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
#gallery #wrap .loading.off {
  opacity: 0;
}
#gallery #wrap #list {
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
#gallery #wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}
#gallery #wrap #list::after {
  content: " ";
  display: block;
  clear: both;
}
#gallery #wrap #list li {
  width: 25%;
  float: left;
  padding: 10px;
}
#gallery #wrap #list li div {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
#gallery #wrap #list li div a > img {
  width: 100%;
  filter: grayscale(100%);
}
#gallery #wrap #list li div p {
  font: 12px/1.2 "arial";
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}
#gallery #wrap #list li div span {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#gallery #wrap #list li div span > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}
#gallery #wrap #list li div span strong {
  font: 11px/1 "arial";
  color: orangered;
}
#gallery #wrap #list li div:hover a > img {
  filter: grayscale(0%);
}

aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside .con {
  width: 100%;
  height: 100%;
}
aside .con > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
aside .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  #gallery #wrap #list li {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 749px) {
  #gallery #wrap #list li {
    width: 50%;
  }
}
@media screen and (max-width: 439px) {
  #gallery #wrap #list li {
    width: 100%;
  }
}
.join .sub_visual {
  background: #efefef;
}
.join .inner h2 {
  font: bold 18px/1 "arial";
  color: #555;
  margin-bottom: 20px;
}
.join .inner #terms {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 20px;
  font: 12px/1.3 "arial";
  color: #888;
  background: #eee;
  margin-bottom: 10px;
}
.join .inner .agreement {
  margin-bottom: 50px;
}
.join .inner .agreement label[for=agree] {
  font-size: 12px;
}
.join .inner table {
  width: 100%;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
.join .inner table th {
  width: 20%;
  text-align: left;
  font: bold 14px/1 "arial";
  color: #666;
  padding: 20px 30px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
.join .inner table th:last-child {
  background: #fff;
  text-align: center;
  border-right: none;
}
.join .inner table th input[type=submit], .join .inner table th input[type=reset] {
  width: 150px;
  height: 40px;
  border: none;
  background: #444;
  font: bold 14px/1 "arial";
  color: #eee;
  margin: 0 10px;
}
.join .inner table td {
  border-bottom: 1px solid #bbb;
  padding: 20px 30px;
}
.join .inner table td input[type=text], .join .inner table td input[type=password] {
  width: 30%;
  height: 30px;
  border: 1px solid #bbb;
  background: #eeeeee;
  padding-left: 20px;
}
.join .inner table td input[type=checkbox], .join .inner table td input[type=radio] {
  margin-right: 5px;
  transform: translateY(2px);
}
.join .inner table td label {
  margin-right: 30px;
}
.join .inner table td select#company {
  width: 20%;
  height: 30px;
  border: 1px solid #bbb;
  background: #eeeeee;
  padding-left: 20px;
}
.join .inner table td textarea#comments {
  width: 80%;
  height: 100px;
  border: 1px solid #bbb;
  background: #eeeeee;
  resize: none;
  padding: 20px;
}
.join .inner table td .hobbyTxt, .join .inner table td .genderTxt {
  font: 12px/1 "arial";
  color: lightpink;
  margin-top: 10px;
  display: none;
}

/* tablet ------------------------------------------ */
@media screen and (max-width: 1179px) {
  .join .inner table th {
    display: none;
  }
  .join .inner table th:last-child {
    display: block;
    width: 100%;
  }
  .join .inner table td input[type=text], .join .inner table td input[type=password] {
    width: 60%;
  }
  .join .inner table td select#company {
    width: 30%;
  }
  .join .inner table td textarea#comments {
    width: 91%;
  }
  .join .inner table td .hobbyTxt, .join .inner table td .genderTxt {
    display: block;
  }
}
/* moblie ------------------------------------------ */
@media screen and (max-width: 539px) {
  .join .inner table th {
    font-size: 0;
  }
  .join .inner table th input[type=submit], .join .inner table th input[type=reset] {
    width: 40%;
    margin: 0 5%;
  }
  .join .inner table td input[type=text], .join .inner table td input[type=password] {
    width: 100%;
  }
  .join .inner table td label {
    display: block;
    margin-right: 0px;
  }
  .join .inner table td select#company {
    width: 100%;
    margin-top: 10px;
  }
  .join .inner table td textarea#comments {
    width: 100%;
  }
  .join .inner table td .hobbyTxt, .join .inner table td .genderTxt {
    display: block;
  }
}
.location {
  width: 100%;
}
.location #map {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  margin-bottom: 20px;
}
.location::after {
  content: " ";
  display: block;
  clear: both;
}
.location .traffic {
  float: left;
}
.location .traffic li {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.location .traffic li a {
  display: block;
  width: 200px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.location .traffic li.on a {
  background: #fff;
  color: #333;
}
.location .branch {
  float: right;
}
.location .branch li {
  float: left;
  margin-left: 10px;
}
.location .branch li a {
  display: block;
  width: 200px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.location .branch li.on a {
  background: #fff;
  color: #333;
}

@media screen and (max-width: 1179px) {
  .location #map {
    height: 350px;
  }
  .location .traffic {
    width: 100%;
  }
  .location .traffic li {
    float: left;
    width: 32.3333333333%;
    margin-right: 1%;
  }
  .location .traffic li a {
    width: 100%;
  }
  .location .branch {
    float: left;
    width: 100%;
  }
  .location .branch li {
    float: left;
    width: 32.3333333333%;
    margin-left: 0px;
    margin-right: 1%;
  }
  .location .branch li a {
    width: 100%;
  }
}
#header .inner {
  border: none;
}

.youtube .sub {
  width: 100%;
  height: 300px;
  background-color: #000;
  position: relative;
}
.youtube .sub .sub_visual {
  height: 300px;
  background: url(../img/youtube.jpeg) no-repeat center/cover;
  opacity: 0.5;
}
.youtube .sub .sub_inner .sub_h2 {
  top: -250px;
  left: 10%;
  position: relative;
  font: bold 80px/1 "arial";
  color: #fff;
  opacity: 1;
}
.youtube .vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.youtube .vidList article {
  width: 48%;
  height: 400px;
  border: 1px solid #555;
  margin-bottom: 40px;
}
.youtube .vidList article .pic {
  display: block;
  width: 100%;
  height: 60%;
}
.youtube .vidList article .pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube .vidList article .con {
  width: 100%;
  height: 40%;
  padding: 20px;
}
.youtube .vidList article .con h2 {
  font: bold 20px/1.2 "arial";
  color: #444;
  margin-bottom: 15px;
}
.youtube .vidList article .con p {
  font: 15px/1.4 "arial";
  color: #666;
  margin-bottom: 20px;
}
.youtube .vidList article .con span {
  font: bold 14px/1 "arial";
  color: orangered;
}

figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure.pop .btnClose {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font: bold 20px/1 "arial";
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
