#header {
	.inner {
		border: none;
    }
}

.about {
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            width: 100%;
            height: 300px;
            background: url(../img/ttt.jpeg) no-repeat center/cover;
            opacity: 0.5;
        }
        .sub_h2 {
            width: 100%;
            top: -250px;
            left: 10%;
            position: relative;
            font: bold 80px/1 'arial';
            color: #fff;
            opacity: 1;
        }
    }
    .division {
        width: 100%;
        height: 800px;
        .profile {
            .wrap {
                article {
                    position: relative;
                    margin: 30px 20px 20px 0;
                    width: 280px;
                    float: left;
                    &:nth-of-type(4n) {
                        margin-right: 0;
                    }
                    img {
                        position: relative;
                        max-width: 100%;
                        vertical-align: top;
                    }
                    .txtBox {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        opacity: 0;
                        padding: 20px 30px;
                        margin-top: 50%;
                        h2 {
                            width: 100%;
                            font:bold 30px/1 'arial';
                            margin-bottom: 20px;
                            color: #131c55;
                            text-transform: uppercase;
                        }
                        p {
                            font: normal 12px/1.2 'arial';
                            color: #131c55;
                            opacity: 0.8;
                            margin: 0 0 30px 0;
                        }
                        .icons {
                            text-align: center;
                            transform: translateX(15px);
                            a i{
                                font-size: 20px;
                                color: #131c55;
                                letter-spacing: 30px;
                            }
                        }
                    }
                    &:hover {
                        img {
                            opacity: 0.3;
                        }
                        .txtBox {
                            opacity: 1;
                        }
                    }
                }
                * {
                    box-sizing: border-box;
                    transition: all 0.4s ease-in;
                    }
            }
        }

        .div_tree {
            position: absolute;
            top: -9999px;
            opacity: 0;
            li {
                span {
                    display: block;
                    width: 40%;
                    height: 50px;
                    background: #111;
                    font: bold 13px/50px 'arial';
                    color: #fff;
                    text-align: center;
                    border-radius: 25px;
                    margin-bottom: 20px;
                    position: relative;

                    &::after {
                        content: ' ';
                        display: block;
                        width: 1px;
                        height: calc((50px + 20px) *17 - (50px / 2));
                        background: #aaa;
                        position: absolute;
                        top: 50px;
                        left: 50px;
                    }
                }

                //2deth
                ul li {
                    span {
                        background: #666;
                        transform: translateX(70px);
                        &::before {
                            content: ' ';
                            display: block;
                            width: 20px;
                            height: 1px;
                            background: #aaa;
                            position: absolute;
                            top: 50%;
                            left: -20px;
                        }
                    }
                    // 2deth 첫번째 li
                    &:nth-of-type(1) span::after {
                        display: none;
                    }
                    &:nth-of-type(2) span::after {
                        display: none;
                    }
                    &:nth-of-type(3) span::after {
                        height: calc((50px + 20px) * 2 - (50px/2));
                    }

                    &:nth-of-type(4) span::after {
                        height: calc(70px * 3 - 25px);
                    }

                    &:nth-of-type(5) span::after {
                        height: calc((50px + 20px) * 2 - (50px/2));
                    }

                    &:nth-of-type(6) span::after {
                        height: calc(70px * 3 - 25px);
                    }
                    &:nth-of-type(7) span::after {
                        height: calc((50px + 20px) * 2 - (50px/2));
                    }

                    //3deth
                    ul li {
                        span {
                            background: #999;
                            transform: translateX(140px);

                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* tablet ------------------------- */
@media screen and (max-width:$tablet) {
    .about {
        .division {
            height: 60vw;
        }
    }
}

/* mobile ------------------------- */
@media screen and (max-width:$mobile) {
    .about {
        .division {
            background: none;
            height: auto;
            .div_tree {
                position: relative;
                top: 0;
                opacity: 1;
            }
        }
    }
}