.about {
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            background: url(../img/ttt.jpeg) no-repeat center/cover;
        }
    }
    .inner {
        .division {
            .welcome {
                position: relative;
                &:hover .main_article .main_txt{
                    opacity: 1;
                    transition: ease-in-out 1s;
                    box-shadow: 0px 0px 10px  #131c55f6;
                }
                .main_article {
                    position: relative;
                    margin: 100px 40px 50px;
                    img {
                        width: 580px;
                        box-shadow: -40px -40px 0px 0 #131c55f6;
                    }
                    .main_txt {
                        opacity: 0;
                        width: 400px;
                        position: absolute;
                        top: 400px;
                        left: 220px;
                        background: #fff;
                        color: #131c55;
                        padding: 10px;
                        >h1 {
                            font: bold 25px/1 'arial';
                            color: #131c55;
                            margin-bottom: 10px;
                        }
                        >span {
                            font: 13px/1 'arial';
                        }
                    }
                }
                .sub_article {
                    width: 500px;
                    position: absolute;
                    left: 700px;
                    top: 100px;
                    >h1 {
                        position: absolute;
                        font: bold 200px/1 'Montagu Slab';
                        color: orangered;
                        z-index: 1;
                    }
                    >h2 {
                        position: absolute;
                        font: bold 40px/1 'arial';
                        color: #131c55;
                        top: 11vh;
                        left: 4vw;
                        z-index: 2;
                    }
                    >p {
                        padding: 10px 80px;
                        position: relative;
                        top: 150px;
                        left: 0;
                        font: 12px/1.2 'arial';
                    }
                }
            }

            .profile {
                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
                .member_article {
                    float: left;
                    width: 380px;
                    height: 420px;
                    text-align: center;
                    filter: grayscale(100%);
                    margin-right: 20px;
                    margin-bottom: 20px;

                    &:hover {
                        filter: grayscale(0%);
                        transition: ease-in-out 0.9s;
                        box-shadow: 0px 0px 10px #131c55;
                    }
                    &:hover .line { opacity: 1; }
                    &:hover .line::before { width: 100%; }
                    &:hover .line::after { width: 100%; }
                    &:hover .line span::before { height: 100%; }
                    &:hover .line span::after { height: 100.5%; }

                    .line::before {
                        content: "";
                        position: absolute;
                        background: #131c55;
                        display: inline-block;
                        transition: all 0.9s;
                        left: 0%;
                        top: 0%;
                        width: 0%;
                        height: 1px; 
                    }
                    
                    .line::after {
                        content: "";
                        position: absolute;
                        background: #131c55;
                        display: inline-block;
                        transition: all 0.9s;
                        left: 0%;
                        top: 100%;
                        width: 0%;
                        height: 1px; }

                    .line span::before {
                        content: "";
                        position: absolute;
                        background: #131c55;
                        display: inline-block;
                        transition: all 0.9s;
                        left: 0%;
                        top: 0%;
                        width: 1px;
                        height: 0%; }

                    .line span::after {
                        content: "";
                        position: absolute;
                        background: #131c55;
                        display: inline-block;
                        transition: all 0.9s;
                        left: 100%;
                        top: 0%;
                        width: 1px;
                        height: 0%; }
                    

                    img {
                        cursor: pointer;
                        width: 250px;
                        height: 250px;
                        padding: 10px;
                        border-radius: 50%;
                    }
                    &:nth-of-type(3n) {
                        margin-right: 0;
                    }

                    .txtBox {
                        h2 {
                            margin: 15px 0;
                            font: bold 20px/1 'arial';
                            color: #131c55;
                        }
                        span {
                            font: bold 12px/1 'arial';
                            color: #000;
                            opacity: 0.9;
                        }
                        p {
                            margin: 5px 0 15px;
                            padding: 0 40px;
                            color: #000;
                            opacity: 0.8;
                        }
                        .icons {
                            a {
                                display: inline-flex;
                                width: 30px;
                                height: 30px;
                                background: #131c55;
                                border-radius: 50%;
                                margin-right: 10px;
                                justify-content: center;
                                align-items: center;
                                i {
                                    color: #fff;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* tablet ------------------------- */
@media screen and (max-width:$tablet) {
    .about {
        .inner {
            .division {
                .welcome {
                    .main_article {
                        img {
                            margin-left: 20px;
                            width: 70%;
                        }
                        .main_txt {
                            width: 60%;
                            top: 70%;
                            left: 40%;
                        }
                    }
                    .sub_article {
                        display: none;
                    }
                }
                .profile {
                    .member_article {
                        width: 40%;
                        margin-right: 10%;
                        img {
                            width: 200px;
                            height: 200px;
                            padding: 10px;
                            border-radius: 50%;
                        }
                        &:nth-of-type(2n) {
                            right: 0;
                            margin-right: 0px;
                        }

                        &:nth-of-type(3n) {
                            margin-right: 10%;
                        }

                    }
                }
            }
        }
    }
}

/* mobile ------------------------- */
@media screen and (max-width:$mobile) {
    .about {
        .inner {
            .division {
                .welcome {
                    .main_article {
                        .main_txt {
                            width: 70%;
                        >h1 {
                            font: bold 13px/1 'arial';
                        }
                        >span {
                            font: 9px/1 'arial';
                        }
                        }
                    }
                }
                .profile {
                    .member_article {
                        width: 100%;
                        margin-right: 0%;
                        img {
                            width: 200px;
                            height: 200px;
                            padding: 10px;
                            border-radius: 50%;
                        }
                    &:nth-of-type(3n) {
                        margin-right: 0%;
                    }
                    }
                }
            }
        }
    }
}