.gallery {
    padding-bottom: 0;
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            background: url(../img/gall.jpeg) no-repeat center/cover;
        }
    }
    #gallery {
        #wrap { 
            width: 100%;
            padding: 50px;
            .loading {
                width: 100px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 1s;
                &.off {
                    opacity: 0;
                }
            }

            #list {
                width: 100%;
                opacity: 0;
                transform: translateY(100px);
                transition: 1s;
                text-align: center;
                &.on{
                    opacity:1; transform:translateY(0px); 
                }
                &::after {
                    content: ' ';
                    display: block;
                    clear: both;
                }
                .item {
                    float:left; 
                    width:calc(98% / 4); 
                    border: 1px solid #d8d8d8;
                    margin: 0 5px 50px 0;
                    div {
                        width:100%; 
                        height: 300px;
                        a {
                            >img {
                                width: 100%;
                                height: 200px;
                                filter:grayscale(100%);
                            }
                        }
                        p {
                            font: 12px/1.2 'Roboto';
                            color: #555;
                            margin: 10px 0;
                        }
                        span {
                            display: flex;
                            align-items: center;
                            margin-top: 10px;
                            >img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                margin: 0 10px 0 10px;
                            }
                            strong {
                                font: 10px/1 'Roboto';
                                color: #666;
                            }
                        }
                        &:hover a>img{ 
                            filter:grayscale(0%);
                        }
                    }
                }
            }
        }
        #searchBox {
            text-align: center;
            margin-top: 50px;
            width: 100%;
            font-size: 0;

            input[type=text] {
                width: 500px;
                height: 30px;
                background: #fff;
                border: 1px solid #131c556e;
                padding-left: 10px;
            }
            .btnSearch {
                width: 100px;
                height: 30px;
                background: #131c55;
                color: #fff;
                font: bold 12px/30px 'arial';
                text-align: center;
                border: none;
                margin-left: 20px;
                cursor: pointer;
                vertical-align: top;
            }
        }
    }
}
aside {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .con {
        width: 100%;
        height: 100%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .close {
        position: absolute;
        top: 50px;
        right: 50px;
        color: #fff;
        cursor: pointer;
        font: bold 20px/1 'Roboto';
    }
}

@media screen and (max-width:$tablet) {
    .gallery {
        #gallery {
            #wrap {
                #list {
                    .item {
                        width:calc(94% / 2); 
                    }
                }
            }
            #searchBox {
                input[type=text] {
                    width: 300px;
                }
            }
        }
    }
    .subscribe {
        padding: 55px 10px;
        height: 300px;
        h2 {
            font: bold 25px/1 'Roboto';
        }
        input[type=text] {
            width: 200px;
            height: 30px;
            padding-left: 20px;
            margin: 50px auto;
        }
        a {
            font: 13px/30px 'Roboto';
        }
    }
}

@media screen and (max-width:$mobile) {
    .gallery {
        #gallery {
            #wrap {
                #list {
                    .item {
                        width:100%; 
                        margin: 0 0 20px 0;
                        div {
                            span {
                                >img {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    margin: 0 10px 0 10px;
                                }
                            }
                        }
                    }
                }
            }
            #searchBox {
                input[type=text] {
                    width: 150px;
                }
                .btnSearch {
                    width: 60px;
                    margin-left: 10px;
                }
            }
        }
    }
    .subscribe {
        padding: 35px 10px;
        height: 200px;
        h2 {
            font: bold 17px/1 'Roboto';
        }
        input[type=text] {
            width: 110px;
            height: 30px;
            padding-left: 10px;
            margin: 25px auto;
        }
        a {
            font: 10px/30px 'Roboto';
        }
    }
}