.gallery {
    padding-bottom: 0;
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            background: url(../img/gall.jpeg) no-repeat center/cover;
        }
    }
    #gallery {
        #wrap { 
            width: 100%;
            min-height: 500px;
            margin-bottom: 50px;
            .loading {
                width: 100px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 1s;
                &.off {
                    opacity: 0;
                }
            }
            #list {
                .item {
                    width: 100%;
                    margin-bottom: 20px;
                    filter: grayscale(100%);
                    transition: 1.2s;
                    &:hover { 
                        filter:grayscale(0%);
                        box-shadow: 0px 0px 5px #131c5598;
                        .e_item {
                            border-top: 2px solid rgba(255, 255, 255, 1);
                            border-bottom: 2px solid rgba(255, 255, 255, 1);
                        }
                    }
                    .e_item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-top: 2px solid #888;
                        border-bottom: 2px solid #888;
                        transition: 1s;
                        span {
                            width: 180px;
                            text-align: center;
                            strong {
                                font: normal 13px/1 'arial';
                                color: #555;
                            }
                            img {
                                width: 70px;
                                height: 70px;
                                display: block;
                                border-radius: 50%;
                                margin: 20px auto;
                            }
                        }
                        .title_p {
                            h2 {
                                font: bold 15px/1 'arial';
                                margin-bottom: 10px;
                                color: #444;
                            }
                            p {
                                width: 580px;
                                font: 13px/1.3 'arial';
                                color: #777;
                                margin-bottom: 30px;
                            }
                            a {
                                font: 10px/1 'arial';
                                color: #444;cursor: pointer;
                            }
                        }
                        a {
                            width: 380px;
                            img {
                                width: 99%;
                                height: 250px;
                                padding: 5px;
                                transform: translateY(2px);
                            }
                        }
                    }
                }
            }
        }
        #searchBox {
            top: 0;
            left: 0;
            margin: 30px 0 50px 0;
            width: 100%;
            font-size: 0;
            input[type=text] {
                width: 500px;
                height: 30px;
                background: #fff;
                border: 1px solid #131c556e;
                padding-left: 10px;
            }
            .btnSearch {
                width: 100px;
                height: 30px;
                background: #131c55;
                color: #fff;
                font: bold 12px/30px 'arial';
                text-align: center;
                border: none;
                margin-left: 20px;
                cursor: pointer;
                vertical-align: top;
            }
        }
    }
}
aside {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .con {
        width: 100%;
        height: 100%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .close {
        position: absolute;
        top: 50px;
        right: 50px;
        color: #fff;
        cursor: pointer;
        font: bold 15px/1 'Roboto';
    }
}

@media screen and (max-width:$tablet) {
    .gallery {
        #gallery {
            #wrap { 
                #list {
                    .item {
                        .e_item {
                            span {
                                width: 15%;
                                strong {
                                    font: normal 0.8rem/1 'arial';
                                }
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            .title_p {
                                width: 50%;
                                h2 {
                                    font: bold 13px/1 'arial';
                                    margin: 10px 0;
                                }
                                p {
                                    width: 100%;
                                    font: 10px/1.3 'arial';
                                    margin-bottom: 10px;
                                }
                                a {
                                    font: 8px/1 'arial';
                                }
                            }
                            a {
                                width: 30%;
                                height: 100%;
                                img {
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }
            }
            #searchBox {
                input[type=text] {
                    width: 300px;
                }
            }
        }
    }
    .subscribe {
        padding: 55px 10px;
        height: 300px;
        h2 {
            font: bold 25px/1 'Roboto';
        }
        input[type=text] {
            width: 200px;
            height: 30px;
            padding-left: 20px;
            margin: 50px auto;
        }
        a {
            font: 13px/30px 'Roboto';
        }
    }
}

@media screen and (max-width:$mobile) {
    .gallery {
        #gallery {
            #wrap { 
                #list {
                    .item {
                        .e_item {
                            height: 180px;
                            span {
                                display: none;
                            }
                            .title_p {
                                width: 50%;
                                margin-left: 5px;
                                p {
                                    display: none;
                                }
                            }
                            a {
                                width: 50%;
                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            #searchBox {
                input[type=text] {
                    width: 150px;
                }
            }
        }
    }
    .subscribe {
        padding: 35px 10px;
        height: 200px;
        h2 {
            font: bold 17px/1 'Roboto';
        }
        input[type=text] {
            width: 110px;
            height: 30px;
            padding-left: 10px;
            margin: 25px auto;
        }
        a {
            font: 10px/30px 'Roboto';
        }
    }
}