.join {
    padding-bottom: 0;
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            background: url(../img/banner_fix.jpeg) no-repeat center/cover;
        }
        .sub_inner {
            height: 0;
        }
    }

    .inner {
        background: #f4e9df;
        margin-top: 40px;
        border-radius: 10px;
        section {
            width: 580px;
            float: left;
            >h2, h3 {
                font: bold 40px/1.3 'Roboto';
                color: #131c55;
                padding: 0 50px;
            }
            >p {
                margin: 40px 0;
                padding: 0 0px;
                font: 15px/1.3 'arial';
                color: #888;
                padding: 0 50px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        #member {
            width: 580px;
            display: inline-block;
            position: relative;
            h3 {
                margin: 50px 0 10px;
                font: bold 18px/1 'arial';
                color: #131c55;
            }
            #terms {
                width: 100%;
                height: 80px;
                resize: none;
                padding: 10px 20px;
                font: 12px/1.3 'arial';
                color: #888;
                background: #f4e9df;
                margin-bottom: 10px;
            }
            .agreement {
                margin-bottom: 50px;
                label[for="agree"] {
                    font-size: 12px;
                    color: #131c55;
                }
            }
            table {
                width: 100%;
    
                th {
                    width: 20%;
                    text-align: left;
                    font: 12px/1 'arial';
                    color: #131c55;
                    padding: 15px 20px;
                    &:last-child {
                        text-align: center;
                        border-right: none;
                    }
    
                    input[type=reset], input[type=submit]{
                        width: 180px;
                        height: 40px;
                        border: 1px solid #999;;
                        background: #f4e9df;
                        font: bold 14px/1 'arial';
                        color: #131c55;;
                        margin: 0 10px;
                        &:hover {
                            background: #131c55;
                            border: 1px solid #131c55;
                            color: #fff;
                        }
                    }
                }
    
                td {
                    padding: 0px 30px;
    
                    input[type=text], input[type=password], select {
                        width: 40%;
                        height: 30px;
                        border: none;
                        border-bottom: 1px solid #888;
                        background: #f4e9df;
                        padding-left: 10px;
                        color: #777;
                    }
    
                    input[type=checkbox], input[type=radio] {
                        margin-right: 5px;
                        transform: translateY(2px);
                    }
                    textarea{
                        resize:none; 
                        width:60%; height:150px; 
                        background:rgba(0,0,0,0.03); 
                        padding:10px; 
                    }
                    label {
                        margin-right: 30px;
                        color: #777;
                    }
                    select#company {
                        width: 40%;
                        height: 30px;
                        color: #777;
                    }
                    textarea#comments {
                        width: 80%;
                        height: 100px;
                        border: 1px solid #999;
                        background: rgba(255, 255, 255, 0.527);
                        resize: none;
                        padding: 20px;
                    }
                    .hobbyTxt, .genderTxt {
                        font: 12px/1 'arial';
                        color: lightpink;
                        margin-top: 10px;
                        display: none;
                    }
                    p{
                        font:11px/1 "맑은 고딕"; 
                        color:orangered; 
                        margin-top:5px; 
                    }
                }
            }
        }
    }
}
#footer {
    background: #fff;
}
/* tablet ------------------------------------------ */
@media screen and (max-width: $tablet) {
    .join {
        .inner {
            margin-top: 0px;
            section {
                width: 100%;
                >p {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            #member {
                width: 100%;
            }
        }
    }
}
/* moblie ------------------------------------------ */
@media screen and (max-width: $mobile) {
    .join {
        padding-bottom: 0;
        .sub {
            width: 100%;
            height: 300px;
            background-color: #000;
            position: relative;
            .sub_visual {
                background: url(../img/banner_fix.jpeg) no-repeat center/cover;
            }
            .sub_inner {
                height: 0;
            }
        }
    
        .inner {
            section {
                >h2, h3 {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            #member {
                h3 {
                    margin: 0px 0px 10px 0px;
                }
                table {
                    width: 100%;
                    th {
                        width: 10%;
                        font: 10px/1 'arial';
                        padding: 5px;
                        input[type=reset], input[type=submit]{
                            width: 40%;
                            height: 30px;
                        }
                    }
        
                    td {
                        padding: 0px 30px;
                        input[type=text], input[type=password], select {
                            width: 100%;
                        }
                        select#company {
                            width: 100%;
                        }
        
                        input[type=checkbox], input[type=radio] {
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
}