.location {
    width: 100%;
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            width: 100%;
            height: 300px;
            background: url(../img/locat.jpeg) no-repeat center/cover;
            opacity: 0.5;
        }
            .sub_h2 {
                width: 100%;
                top: -250px;
                left: 10%;
                position: relative;
                font: bold 80px/1 'arial';
                color: #fff;
            }
    }

    #map {
        margin-top: 100px;
        width: 100%;
        height: 500px;
        border: 1px solid #000;
        margin-bottom: 20px;
    }
    &::after {
        content: ' ';
        display: block;
        clear: both;
    }

    .traffic {
        float: left;
        li {
            float: left;
            margin-right: 20px;
            margin-bottom: 10px;

            a {
                display: block;
                width: 200px;
                height: 40px;
                background: #fff;
                font: bold 12px/40px '맑은 고딕';
                color: #131c55;
                text-align: center;
                border: 1px solid #131c55;
            }
            &.on a {
                background: #131c55;
                color: #fff;
            }
        }

    }
    .branch {
        float: right;
        li{
            float: left;
            margin-left: 10px;

            a{
                display: block;
                width: 200px;
                height: 40px;
                background: #fff;
                font: bold 12px/40px '맑은 고딕';
                color: #131c55;
                text-align: center;
                border: 1px solid #131c55;
            }
            &.on a {
                background: #131c55;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .location {
        #map {
            height: 350px;
        }
        .traffic {
            width: 100%;
            li {
                float: left;
                width: calc(97% / 3);
                margin-right: 1%;
                a {
                    width: 100%;
                }
            }
    
        }
        .branch {
            float: left;
            width: 100%;
            li{
                float: left;
                width: calc(97% / 3);
                margin-left: 0px;
                margin-right: 1%;
                a{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    
}