.youtube {
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            background: url(../img/youtube.jpeg) no-repeat center/cover;
        }
    }

    #vidTop {
        .inner {
            display: flex;
            .vidTop_txt {
                width: 580px;
                text-align: center;
                margin-top: 30px;
                padding: 5px;
                h2 {
                    text-align: left;
                    font: bold 18px/1 'Roboto';
                    margin: 100px 0 30px;
                }
                h1 {
                    text-align: left;
                    font: bold 30px/1 'Roboto';
                    margin-bottom: 0;
                    
                }
                p {
                    width: 530px;
                    text-align: left;
                    font: normal 13px/1.5 'Roboto';
                    margin: 30px 0 100px;
                    color: #888;
                }
                #slider {
                    position: relative;
                    overflow: hidden;
                    width: 93%;
                    ul {
                        position: relative;
                        li{
                            float:left; 
                            font-size:40px; 
                            color:#fff; 
                            display:flex; 
                            justify-content:center; 
                            align-items:center; 
                            border: none;
                        }
                    }
                }
                .prev{
                    position:relative;
                    left: -280px;
                    top: -80px;
                    cursor: pointer;
                    img {
                        width: 30px;
                    }
                }
                .next{
                    position:relative;
                    left: 240px; 
                    top: -80px;
                    cursor: pointer;
                    img {
                        width: 30px;
                    }
                }
            }

            .vidTop_main {
                width: 580px;
                margin: 100px 0 0 20px;
                h5 {
                    font: 12px/1 'Roboto';
                    margin: 10px 0 15px;
                    color: #777;
                }
                h3 {
                    font: bold 16px/1 'Roboto';
                }
                p {
                    font: 10px/1.5 'Roboto';
                    margin: 15px 0;
                    color: #888;
                }
                a {
                    display: inline-flex;
                    margin-right: 30px;
                    color: #333;
                }
            }
        }
    }

    #vidMain {
        width: 100%;
        background: #fff;
        .inner {
            display: flex;
            margin-top: 70px;
            h2 {
                position: absolute;
                font: 25px/1 'Roboto';
            }
            .vidList {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                margin-top: 50px;
        
                article {
                    position: relative;
                    width: 280px;
                    height: 150px;
                    margin-bottom: 40px;
                    
                    .pic {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        >img {
                            width: 100%;
                            margin-right: 0px;
                            object-fit: cover contain;
                            transition: all 0.4s ease-in;
                        }
                    }
                    .con {
                        position: absolute;
                        padding: 20px;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        transition: all 0.4s ease-in;
                        h2 {
                            font: bold 13px/1.2 'Roboto'; 
                            color: #131c55;
                            margin-bottom: 15px;
                        }
                        p {
                            font: 10px/1.4 'Roboto';
                            color: rgba(0, 0, 0, 0.6);
                            margin-top: 50px;
                        }
                        span {
                            float: right;
                            font: normal 10px/1 'Roboto';
                            color: orangered;
                            opacity: 0.8;
                        }
                    }
                    &:hover {
                        img {
                            opacity: 0.1;
                        }
                        .con {
                            opacity: 1;
                        }
                    }
                    &:nth-of-type(4n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

figure.pop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnClose {
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font: bold 15px/1 'Roboto';
        cursor: pointer;
    }
}

@media screen and (max-width:$tablet) {
    .youtube {
        #vidTop {
            .inner {
                .vidTop_txt {
                    width: 100%;
                    margin-top: 0px;
                    padding: 0px;
                    h2 {
                        font: bold 20px/1 'Roboto';
                        margin: 50px 0 30px;
                    }
                    h1 {
                        font: bold 25px/1 'Roboto';
                    }
                    p {
                        width: 100%;
                        font: normal 12px/1.5 'Roboto';
                        margin: 30px 0 50px;
                        color: #888;
                    }
                    #slider {
                        display: none;
                    }
                    .prev{
                        display: none;
                    }
                    .next{
                        display: none;
                    }
                }
                .vidTop_main {
                    width: 100%;
                }
            }
        }
        #vidMain {
            .inner {
                h2 {
                    font: 20px/1 'Roboto';
                }
                .vidList {
                    article {
                        position: relative;
                        width: calc(95% / 2);
                        height: 250px;
                        margin: 20 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    .youtube {
        #vidMain {
            .inner {
                h2 {
                    font: 20px/1 'Roboto';
                }
                .vidList {
                    article {
                        position: relative;
                        width: 100%;
                        height: 230px;
                    }
                }
            }
        }
    }
}