.youtube {
    .sub {
        width: 100%;
        height: 300px;
        background-color: #000;
        position: relative;
        .sub_visual {
            background: url(../img/youtube.jpeg) no-repeat center/cover;
        }
    }

    #vidMain {
        width: 100%;
        background: #eee;
        .inner {
            display: flex;
            .txtList {
                top: 0;
                left: 0;
                position: relative;
                display: flex;
                width: 280px;
                height: 340px;
                margin-top: 100px;
                margin-right: 20px;
                border: 1px solid #131c55;
                >article {
                    position: relative;
                    top: 20%;
                    text-align: center;
                    padding: 10px;
                    h2 {
                        font: bold 24px/1 'arial';
                        margin-bottom: 10px;
                    }
                    span {
                        font: bold 18px/1 'arial';
                    }
                    p {
                        font: 10px/1.3 'arial';
                        margin: 20px 0 30px;
                    }
                    a {
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        display: block;
                        width: 150px;
                        height: 30px;
                        font: bold 13px/30px 'arial';
                        border: 1px solid #000;
                        color: #000;
                        &:hover {
                            background: #131c55;
                            color: #fff;
                        }
                    }
                }
            }
            .vidList {
                position: relative;
                display: flex;
                width: 880px;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                margin-top: 100px;
        
                article {
                    position: relative;
                    width: 280px;
                    height: 150px;
                    margin-bottom: 40px;
                    
                    .pic {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        >img {
                            width: 100%;
                            height: 100%;
                            margin-right: 20px;
                            object-fit: cover contain;
                            transition: all 0.4s ease-in;
                        }
                    }
                    .con {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        transition: all 0.4s ease-in;
                        h2 {
                            font: bold 15px/1.2 'arial'; 
                            color: #131c55;
                            margin-bottom: 15px;
                        }
                        p {
                            font: 10px/1.4 'arial';
                            color: rgba(0, 0, 0, 0.6);
                            margin-bottom: 20px;
                        }
                        span {
                            float: right;
                            font: normal 10px/1 'arial';
                            color: orangered;
                            opacity: 0.8;
                        }
                    }
                    &:hover {
                        img {
                            opacity: 0.1;
                        }
                        .con {
                            opacity: 1;
                        }
                    }
                    &:nth-of-type(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    #vidSub {
        width: 100%;
        background: #fff;
    }

}



figure.pop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnClose {
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font: bold 20px/1 'arial';
        cursor: pointer;
    }
}